main
    .content-top
        .ad-shop
            p.ad-shop__text NEW  SEASON jacket
            p.ad-shop__text  The perfect balance of summer fun dressed up in
            p.ad-shop__text luxurious suedes for any early fall adventure
            p.ad-shop__text  $14.99
            button.ad-shop__btn Shop New in
        img.block-img(src="images/img_main1_01.png")
    .content-middle
        .sale
            img.sale__img(src="images/img_main2_02.png")
            p.sale__text
                a.sale__text_link(href="#") sale man collection
        .shop
            img.shop__img(src="images/img_main5_01.png")
            p.shop__text
                a.shop__text_link(href="#") Shop swimwear
        .contacts
            img.contacts__img(src="images/f.png")
            img.contacts__img(src="images/g.png")
            img.contacts__img(src="images/t.png")
            br
            img.contacts__img(src="images/i.png")
            img.contacts__img(src="images/p.png")
        .trend
            img.trend__img(src="images/img_main4_04.png")
            p.trend__text
                a.trend__text_link(href="#") Trend Guides
        .collection
            img.collection__img(src="images/img_main3_02.png")
            .collection__text
                p.collection__text_item flower collection
                p.collection__text_item boho luxe print Kimono
                a.collection__text_link(href="#") Shop kimonos

    .content-bottom
        .collection-slider_wrap
            h2.collection-slider__title NEW COLLECTION
            .collection-slider__images

                img.collection-slider__images_arrow(src="images/left.png")
                .collection-slider__images__wrap
                    img.collection-slider__images_img(src="images/slide-2.5.png")
                .collection-slider__images__wrap
                    img.collection-slider__images_img(src="images/slide-2.4.png")
                .collection-slider__images__wrap
                    img.collection-slider__images_img(src="images/slide-2.3.png")
                .collection-slider__images__wrap
                    img.collection-slider__images_img(src="images/slide-2.2.png")
                .collection-slider__images__wrap
                    img.collection-slider__images_img(src="images/slide-2.1.png")
                img.collection-slider__images_arrow(src="images/right.png")
        .location
            .location-img_wrap
                img.location__img(src="images/map.png")
            .location__content
                h2.location__content_title Store locator
                p.location__content_text Select a store in your country on the map
                button.location__content_btn visit Store Locator