footer.footer
    .foter__top
        .sign-email
            label.sign-email__label(for='email') Sign Up for email
            input.sign-email__input(type="email" id="email" name="email" placeholder="Enter your email address")
            button.sign-email__submit(type='submit' volue='sing up')
                i.sign-email__submit_icon.fa.fa-envelope-o
                |sign up
        .post
            p.post__text Click & Collect.
            p.post__text Buy online. Collect in store.
    .footer__bottom
        ul.footer-menu
            a(href="#").footer-menu__a
                li.footer-menu__a_item CUSTOMER CARE
            a(href="#").footer-menu__a
                li.footer-menu__a_item  DELIVERY & RETURNS
            a(href="#").footer-menu__a
                li.footer-menu__a_item  CARDS & DISCOUNTS
            a(href="#").footer-menu__a
                li.footer-menu__a_item  COMPANY INFO
            a(href="#").footer-menu__a
                li.footer-menu__a_item  © 2014 New Look Retailers Limited.