body
  font-size: 12px
h2
  text-align: center
  font-size: 30px
  letter-spacing: 6px
  text-transform:uppercase
.row, .area, .col, .row:after
  box-sizing: border-box
.row
  margin: 0 auto
.row:after
  content:""
  display:block
  clear:both
.col-lg-6
  width:50%
.col
  position: relative;
  float: left;
@media screen and (min-width: 584px)
  .col
    width: 25%
@media screen and (max-width: 416px)
  .col
    width: 50%
@media screen and (max-width: 270px)
  .col
    width: 100%
input[type="search"]
  border: none
strong
  font-weight:bold
p
  display: block
  -webkit-margin-before: 1em
  -webkit-margin-after: 1em
  -webkit-margin-start: 0px
  -webkit-margin-end: 0px
 h2
   text-align: center
   font-size: 30px
   letter-spacing: 6px
   text-transform: uppercase
   display: block;
   -webkit-margin-before: 0.83em
   -webkit-margin-after: 0.83em
   -webkit-margin-start: 0px
   -webkit-margin-end: 0px
   font-weight: bold